[submodule "rdma-core"]
	path = rdma-core
	url = https://github.com/datenlord/rdma-core.git
	branch = dtld-main

[submodule "DistroSim"]
	path = DistroSim
	url = https://github.com/ruiqurm/DistroSim.git
	branch = master
